---
---

<html>
  <body>
    <div
      class="border-2 border-current bg-transparent py-1 tracking-widest text-brand dark:text-brand-tint"
    >
      Hello
    </div>
    <div
      class="pseudo-none ring-brand-accent h-12 w-12 rounded-full bg-transparent will-change-transform focus:outline-none focus:ring-8 dark:bg-gray-900"
    >
      Goodbye
    </div>
  </body>
</html>
