---
---

<p
  class="not-tw h-12 bg-transparent text-brand ring-brand-secondary will-change-transform"
>
  Hello
</p>
{
  (
    <p class="not-tw text-brand ring-brand-secondary h-12 bg-transparent will-change-transform">
      Goodbye
    </p>
  )
}
